/* CSS Document */
html,body {
  	margin: 0;
  	padding: 0;
	background-color: #5D605B;
}

.container {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}
.footer {
	clear: both;
	color:#000;
	text-align:center;
	font-family: Verdana;
	padding: 10px 5px 5px 5px;
	width: 750px;
	font: 12px Verdana; 
	background: #ccc; 
	border-top: 1px solid #000;
}
.footer a {
	color:#222;
	padding: 0;
}
.footer ul { margin: 0 auto; width:400px;}
.footer li { float:left; list-style:none; margin:0 5px;}
.footer a:hover, .footer a:focus, .footer a:active { text-decoration: none;}
.noFlash {
	width: 500px; 
	height: 40px;
	line-height: 22px;
	padding: 10px 0 0 0;
	background-color: #fc2;
	font: normal 11px Arial;
	color: #111;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.noFlash img {
	padding: 0 20px 0 15px;
	float: left;
}
.border { border-left: 1px solid #000; border-right: 1px solid #000; border-top: 1px solid #000;}
.altHeader { display:none;}
#modDate { display:none;}

table, th, td {
border: 1px solid #000;
padding: 2px 4px;
font-size: .98em;
line-height: 1.5em;
}
table { margin: 5px 10px 5px 0; border-collapse: collapse;}
th { background: #ccc; text-align: center;}
td { vertical-align: top;}
th { vertical-align: bottom;}
caption { font-size: 1.25em; line-height: 1.725em; text-align: center; font-weight: bold; margin-top: 0;} 
.ltr1, .nbr1 { text-align: left;}
.ltr2, .nbr2 { text-align: center;}
.ltr3, .nbr3 { text-align: right;}
.stripe { background: #ccc;}
.stripe2 { background: #eee;}

/*	skip navigation and other display content off screen items	*/
.skip, h1, .header { 
position: absolute; 
left: -10000px;
top: auto; 
width: 1px; 
height: 1px; 
overflow: hidden;
} 

.skip a:active, .skip a:focus { 
position: static; 
width: auto; 
height: auto;
margin: 1em auto; 
}

.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #fff;} 
.skip2 a:active, .skip2 a:focus { background: #5D605B; position: static; width: auto; height: auto; padding: 1em; margin: auto;}

#wrap, .container { position:relative; }

#socialButtons { position:absolute; right:65px; top:60px; }
#flashSocialButtons { position:absolute; right:0; top:20px; }
#plusContain, #likeContain { float:left; clear:none; margin-right:0px;}

/*	Share Widget  */

#addThis h2,#shareClose{display:none;}
#addThis{font-size: 1em; float:left;width: 100%; margin:0 0 1em 0px;}
#addThis ul{display:block;float:left;list-style:none outside none;width:100%; margin: 0; text-align: left;}
#addThis ul#tops{padding: 0;}
#addThis ul#moreShare{padding: 0;}
#addThis ul#tops li{width:16%; margin-left: 4px;}
#addThis li{float:left;width:19.5%;margin:2px 0;padding:0;}
#addThis li:hover, #addThis li:focus, #addThis li:active { background:#fff; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.share_sprite .textLink{float:left;margin-left:21px;width:80px;display:block;}
.share_sprite{display:inline;float:left;height:16px;width:16px;margin:4px;}
#tops .share_sprite .textLink {width:80px;}
.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover, .share_sprite .textLink:focus, .share_sprite .textLink:active {cursor:pointer; text-decoration: none;}
