#wrap { width: 760px; margin:0 auto; border: 1px solid #000; background: #fff;}
/*	.logo { text-align:right;  display:block; margin-bottom: 185px;}	*/
#content { background-color:#fff; width: 500px; padding: 10px 25px; margin-bottom: 20px; color:#333; font-size:12px; text-align: left; float:right; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif;}
#header { width: 0 auto; height: 150px; background: #5D605B; background-repeat: no-repeat; background-image: url(http://usarmy.vo.llnwd.net/e2/rv5_images/gettysburg/header.jpg);}
#hdr1 a img { position: relative; left: 670px; top: -150px; width: 90px; height: 150px;}
/* horizontal top navigation bar */
.navbar_u { width: 100%; float: left; background: #ccc; border-top: 1px solid #000; border-bottom: 1px solid #000;}
.nav_u { float: left;}
.navbar_u ul { margin: 0; padding: 0; font-weight: bold; font: bold 12px/25px verdana, Arial, Helvetica, sans-serif;}
.navbar_u ul li { display: inline; color: #000; padding: 0; float: left; text-decoration: none; background: #ccc;}
.navbar_u ul li { border-right: 1px solid #000;}
.navbar_u ul li a { color: #000; float: left; letter-spacing: 0.1em; text-decoration: none; background: #ccc;}
.navbar_u ul li a { padding: 2px 5px;}
.navbar_u ul li a:hover, .navbar_u ul li a:focus, .navbar_u ul li a:active { border-color: #000; background: #fff;}
/* vertical navigation bar */
#sidebar { width: 210px; margin: 0; padding: 0; float: left; margin-top: 20px;}
#side_nav, #navbar { float: left;}
.nav_v  { padding: 0; margin: 0; background: #fff; font-family: verdana, Arial, Helvetica, sans-serif;}
.nav_v li { list-style: none; font-size: .75em; word-spacing: 0.03em;}
.nav_v a { color: #000; width: 185px; display: block; padding: 5px 10px; line-height: 1.825em; word-spacing: 0.03em; text-decoration: none;}
.nav_v a:hover, .nav_v a:focus, .nav_v a:active { text-decoration: underline;}
.nav_v { margin-bottom: 1em;}
a { color:#000; text-decoration:underline;}
a:hover, a:focus, a:active { text-decoration:none;}
.photo_cap { width: 200px; font-size: .9167em; font-weight: bold;}
.floatleft { float: left; margin: 0 15px 0 0; clear: right;}
.floatright { float: right; margin: 0 0 0 15px; clear: right;}
.floatleft img, .floatright img { border: 1px solid #000;}
h2 { font-size: 2em; text-align: center;}
h3 { font-size: 1.75em;}
h4 { font-size: 1.5em;}
h5 { font-size: 1.25em;}
#sidebar h2 { font-size: 1em; text-align: left; margin-left: .5em; font-family: Verdana, Arial, Helvetica, sans-serif;}
.quote { font-weight: bold;}
